@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --color-primary: #161b21;
      --color-secondary: #f4a950;
   }
}

html,
body {
   padding: 0;
   margin: 0;
   overflow-y: hidden;
   font-family: Futura, sans-serif;
   @apply bg-gradient-to-tl from-zinc-900 to-primary;
}

@font-face {
   font-family: "Futura";
   src: url("../assets/fonts/futura/futura\ medium\ bt.ttf");
}

body::-webkit-scrollbar {
   display: none;
}

a {
   color: inherit;
   text-decoration: none;
}

* {
   box-sizing: border-box;
}

.swiper-wrapper {
   @apply ease-modern;
}

.swiper-pagination-bullet {
   @apply h-4 lg:h-1 w-1 lg:w-6 bg-white cursor-pointer duration-500;
}
.swiper-pagination-bullet-active {
   @apply h-10 lg:h-1 lg:w-10;
}
